<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>my File</title>
  <link rel="stylesheet" href="style.css" media="all">
</head>

<body>
  <!-- just use local for safe usage -->
  <main>
    <form method="post" action="/add">
      <h1>Contact Now</h1>
      <input type="text" name="name" placeholder="Enter your name">
      <input type="email" name="email" placeholder="Enter your email">
      <button>Submit</button>
    </form>
  </main>

</body>
<script src="main.js"></script>

</html>