<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>my File</title>
    <link rel="stylesheet" href="style.css" media="all">
  </head>
  <body>
    <h1>HTML File</h1>
    <p> <%=45+50 %></p>
    <!-- just use local for safe usage -->
    <p>Hello <%=locals.name %></p>
  </body>
  <script src="main.js"></script>
</html>
